<OFPutVar name="babHtmlEntities" value="1">
<h2>List of accessible feeds</h2>

<table border="1" cellpadding="4">
	<OCAddon name="rssfeed" action="rsslist" subscriptions="1">
	<tr>
		<td><OVFeedShortTitle></td>
		<td>
			<h4><OVFeedTitle></h4>
			<OVFeedDescription>
		</td>
		<td><OVFeedUrl></td>
		<td><OVFeedCount></td>
	</tr>
	</OCAddon>
</table>







<OCAddon name="rssfeed" action="itemlist" feedid="17">
<div>
	<h5><a href="<OVItemLink>"><OVItemTitle></a></h5>
	<p><em><OVItemPubDate date="%L"></em></p>
	<OVItemDescription htmlentities="0">
</div>
</OCAddon>
