

.rss_ui_main {
	width:99%;
	margin:.5em auto;
	border-collapse:collapse;
}

.rss_ui_main_col1 {
	width:200px;
	border:#000 1px solid;
	vertical-align:top;
}

.rss_ui_main_col2 {
	border:#000 1px solid;
	vertical-align:top;
	background:#eee;
}

.rss_ui_main_col1 td {
	font-weight:normal;
}

.rss_ui_main_col1 a {
	text-decoration:none;
}


.rss_ui_main_col1 td.subscribed {
	background-image:url('../../../skins/ovidentia/images/addons/rssfeed/star.png');
	background-repeat:no-repeat;
	background-position:99% 50%;
	padding-right:25px;
}




.rss_ui_main_col1 td.subscriptions {
	background-image:url('../../../skins/ovidentia/images/addons/rssfeed/television.png');
	background-repeat:no-repeat;
	background-position:99% 50%;
	padding-right:25px;
}



.rss_ui_main_col1 td.selected {
	font-weight:bold;
}


.rss_ui_main_col2 h2 {
	margin:.8em;
}

.rss_ui_main_col2 .post {
	margin:.8em;
	padding:.6em;
	background:#fff;
	border:#bbb 1px solid;
	-moz-border-radius:4px;
	border-radius:4px;
}


.rss_ui_main_col2 .post h3 {
	border-bottom:#ccc 1px solid;
	margin:0em 0 1em 0;
}

.rss_ui_main_col2 h3 a {
	text-decoration:none;
}


.rss_ui_main_col2 .post .pubDate {
	margin:0 0 .5em 0;
	text-align:right;
	float:right;
	color:#6b5747;
}


.rss_ui_main_col2 .notify {
	
	padding:.7em .5em .7em 25px;
	background:#ffffbf url('../../../skins/ovidentia/images/addons/rssfeed/exclamation.png') no-repeat 4px 50%;
	border:#cfcf3d 1px solid;
	color:#5e5e35;
}



.rss_ui_main_col2 .notify a {
	border:#444 1px solid;
	background:#777;
	color:#fff;
	text-decoration:none;
	padding:.05em .5em;
	margin:0 .5em;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}


.rss_ui_main_col2 .notify a:hover {
	border:#444 1px solid;
	background:#000;
	color:#fff;
}
