<!--#begin rsslist -->
<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">

<tr class="BabTopicsBackground">
	<td colspan="4" align="right">
		<a href="{ babAddonUrl }admin&amp;idx=add" style="text-decoration:none;"><img src="{ babSkinPath }images/Puces/addSmall.png" align="absmiddle" alt="" /> { t_add }</a>
	</td>
</tr>

<tr> 
<td class="BabLoginCadreBackground"> 
        <table width="100%" border="0" cellspacing="0" cellpadding="6" align="center">

          <tr class="BabSiteAdminTitleFontBackground"> 
			<td align="center" width="5%">{ t_edit }</td>
            <td>{ t_category }</td>
			<td>{ t_title }</td>
			<td>{ t_delay }</td>
			<td>{ t_subscriber_number }</td>
			<td align="center">{ t_groups }</td>
          </tr>
          <!--#in getnext -->
          <!--#if altbg -->
          <tr class="BabForumBackground1">
		<!--#else altbg -->
		<tr class="BabSiteAdminFontBackground">
            <!--#endif altbg -->
			<td align="center"><a href="{ accessurl }" title="{ t_edit }"><img src="{ babSkinPath }images/Puces/edit.png" alt="" /></a></td>
            <td>{ arr[category] }</td>
			<td>{ arr[title] }</td>
			<td>{ arr[delay] }&nbsp;{ t_unit }</td>
			<td>{ arr[subscription_stats] }</td>
			<td align="center"><a class="BabSiteAdminListLink" href="{ groupsurl }"><img src="{ babSkinPath }images/Puces/head.gif" alt="" /> { t_groups }</a></td>
          </tr>
          <!--#endin getnext -->
    </table>
</td>
</tr>
</table>

<!--#end rsslist -->




<!--#begin subscription -->
<form method="post" action="{ babPhpSelf }" name="rssmodif">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="{ tg }" />
<input type="hidden" name="idx" value="{ idx }" />

<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr> 
<td class="BabLoginCadreBackground"> 
        <table width="100%" border="0" cellspacing="0" cellpadding="4" align="center">

          <tr class="BabSiteAdminTitleFontBackground"> 
            <td>{ t_title }</td>
			<td>{ t_description }</td>
			<td align="center" width="5%">{ t_subscribe }</td>
          </tr>

        <!--#in getnext -->

		<!--#if category -->
		 <tr class="BabSiteAdminFontBackground"> 
            <td colspan="3" style="border-top:#000 2px solid;"><h4>{ category }</h4></td>
          </tr>

		<!--#endif category -->

          <!--#if altbg -->
          <tr class="BabForumBackground1">
		<!--#else altbg -->
		<tr class="BabSiteAdminFontBackground">
        <!--#endif altbg -->
			<td>
				&nbsp;&nbsp;&nbsp;{ title }
			</td>
			<td>
				{ description }
			</td>	
			<td align="center">
				<input type="checkbox" name="subscription[{ id_feed }]" value="1" <!--#if checked --> checked="checked" <!--#endif checked --> />
			</td>
          </tr>
          <!--#endin getnext -->
    </table>
</td>
</tr>
</table>

<p align="center"><input type="submit" value="{ t_record }" /></p>

</form>
<!--#end subscription -->




<!--#begin rssmodif --> 
<form method="post" action="{ babPhpSelf }" name="rssmodif">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="{ babAddonTarget }/admin" />
<input type="hidden" name="idx" value="list" />
<input type="hidden" name="id" value="{ id }" />
<input type="hidden" name="action" value="modif" />
<input type="hidden" name="backurl" value="{ backurl }" />
<table width="65%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr>
	<td class="BabLoginCadreBackground">
        <table width="100%" border="0" cellspacing="0" cellpadding="6" align="center" class="BabLoginMenuBackground">

		<tr>
            <td width="40%" align="right">
			{ t_url }
			</td>
			<td><input name="url" type="text" value="{ arr[url] }" size="60" maxlength="255" />
            </td>
          </tr>
		<tr>
            <td width="40%" align="right">
              { t_title } </td>
			<td><input name="title" type="text" value="{ arr[title] }" size="40" maxlength="64" /> { t_title_length }
            </td>
          </tr>
		  
	    </tr>

		<tr>
            <td width="40%" align="right">
              { t_shorttitle } </td>
			<td><input name="shorttitle" type="text" value="{ arr[shorttitle] }" size="20" maxlength="20" /> { t_shorttitle_length }
            </td>
          </tr>
		  
	    </tr>

		  <tr>
            <td width="40%" align="right">
			{ t_category }
			</td>
			<td>
				<select name="id_category">
					<option value="0"></option>
					<!--#in getnextcategory -->
					<option value="{ id_category }" <!--#if selected --> selected="selected" <!--#endif selected --> >{ name }</option>
					<!--#endin getnextcategory -->
				</select>

            </td>
          </tr>
	    </tr>


		  <tr>
            <td width="40%" align="right">
			{ t_delay }
			</td>
			<td><input name="delay" type="text" value="{ arr[delay] }" size="4">&nbsp;{ t_unit }
            </td>
          </tr>
	    </tr>

		<tr>
            <td width="40%" align="right">
			{ t_encode_description }
			</td>
			<td>
				<input name="encode_description" type="checkbox" value="1" <!--#if arr[encode_description] --> checked="checked"<!--#endif arr[encode_description] --> />
            </td>
        </tr>
        <!--#if portlets -->
		<tr> 
			<td align="right" valign="middle">{ t_portlet }&nbsp;:</td>
			<td width="70%" align="left" valign="middle">
			<select name="portlet">
				<option value="0" <!--#if arr[portlet] "== 0" -->selected="selected"<!--#endif arr[display_mode] -->>{ t_no }</option>
				<option value="1" <!--#if arr[portlet] "== 1" -->selected="selected"<!--#endif arr[display_mode] -->>{ t_yes }</option>
			</select>
			</td>
		</tr>
		<!--#endif portlets -->
	    <!--#if arr[valid] "== N" -->
		<tr>
            <td width="40%" align="right">
			{ t_valid }
			</td>
			<td>
			<input name="valid" type="checkbox" value="Y">
            </td>
          </tr>
	    <!--#endif arr[valid] -->
          <tr> 
            <td>&nbsp;
			
			</td>
			<td width="60%">
			<br />
			<input type="submit" name="submit" value="{ t_record }">
			<!--#if del -->
              <input type="submit" name="submit" onclick="document.forms.rssmodif.action.value='delete'" value="{ t_delete }"><!--#endif del --> 
			<br /><br />
			</td>
          </tr>
        </table>
	</td>
	</tr>
</table>
</form>
<!--#end rssmodif -->




<!--#begin category -->
<form method="post" action="{ babPhpSelf }" name="rssmodif">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="{ babAddonTarget }/admin" />
<input type="hidden" name="idx" value="edit_category" />
<input type="hidden" name="id_category" value="{ id_category }" />
<table width="65%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr>
	<td class="BabLoginCadreBackground">
        <table width="100%" border="0" cellspacing="0" cellpadding="4" align="center" class="BabLoginMenuBackground">
		<tr>
            <td width="40%" align="right" valign="middle">
              { t_name } </td>
			<td>
				<input name="name" type="text" value="{ name }" size="50" maxsize="255" />
            </td>
          </tr>
		  
          <tr> 
          
			<td colspan="2" align="center">
				<input type="submit" name="submit" value="{ t_record }" />
			</td>
          </tr>
        </table>
	</td>
	</tr>
</table>
</form>
<!--#end category -->


<!--#begin categories -->
<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">

<tr class="BabTopicsBackground">
	<td colspan="4" align="right">
		<a href="{ babAddonUrl }admin&amp;idx=edit_category" style="text-decoration:none;"><img src="{ babSkinPath }images/Puces/addSmall.png" align="absmiddle" alt="" /> { t_add }</a>
	</td>
</tr>

<tr> 
<td class="BabLoginCadreBackground"> 
        <table width="100%" border="0" cellspacing="0" cellpadding="4" align="center">

          <tr class="BabSiteAdminTitleFontBackground"> 
			<td align="center">{ t_edit }</td>
            <td>{ t_name }</td>
			<td align="center">{ t_delete }</td>
          </tr>
          <!--#in getnext -->
          <!--#if altbg -->
          <tr class="BabForumBackground1">
		<!--#else altbg -->
		<tr class="BabSiteAdminFontBackground">
            <!--#endif altbg -->
			<td align="center"><a href="{ editurl }" title="{ t_edit }"><img src="{ babSkinPath }images/Puces/edit.png" alt="" /></a></td>
            <td>{ name }</td>
			<td align="center">
				<!--#if deletable -->
				<a href="{ deleteurl }"><img src="{ babSkinPath }images/Puces/del.gif" alt="" /> { t_delete }</a>
				<!--#else deletable -->
				{ t_in_use }
				<!--#endif deletable -->
			</td>
          </tr>
          <!--#endin getnext -->
    </table>
</td>
</tr>
</table>

<!--#end categories -->










<!--#begin rssoptions -->
<form method="post" action="{ babPhpSelf }" name="rssoptions">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
<input type="hidden" name="tg" value="{ babAddonTarget }/admin">
<input type="hidden" name="idx" value="list">
<input type="hidden" name="action" value="options">
<table width="65%" border="0" cellspacing="0" cellpadding="2" align="center">
	<tr>
	<td class="BabLoginCadreBackground">
        <table width="100%" border="0" cellspacing="0" cellpadding="4" align="center" class="BabLoginMenuBackground">
		<tr>
            <td width="40%" align="right">
              	{ t_mode }
			</td>
			<td width="60%">
				<select name="mode">
					<!--#if mode "== 1" -->
					<option value="1" selected="selected">{ t_mode1 }</option>
					<!--#else mode -->
					<option value="1">{ t_mode1 }</option>
					<!--#endif mode -->

					<!--#if mode "== 2" -->
					<option value="2" selected="selected">{ t_mode2 }</option>
					<!--#else mode -->
					<option value="2">{ t_mode2 }</option>
					<!--#endif mode -->

					<!--#if mode "== 3" -->
					<option value="3" selected="selected">{ t_mode3 }</option>
					<!--#else mode -->
					<option value="3">{ t_mode3 }</option>
					<!--#endif mode -->

					<!--#if mode "== 4" -->
					<option value="4" selected="selected">{ t_mode4 }</option>
					<!--#else mode -->
					<option value="4">{ t_mode4 }</option>
					<!--#endif mode -->
				</select>
            </td>
          </tr>

		  <tr>
            <td width="40%" align="right">
              	{ t_section_name }
			</td>
			<td width="60%" valign="middle">
				<input type="text" name="addon_title" value="{ addon_title }" size="40" maxsize="64" />
            </td>
          </tr>

		 <tr>
            <td width="40%" align="right">
              	{ t_max_subscriptions }
			</td>
			<td width="60%" valign="middle">
				<input type="text" name="max_subscriptions" value="{ max_subscriptions }" size="4" maxsize="4" />
            </td>
          </tr>


		 <tr>
            <td width="40%" align="right">
              	{ t_proxy }
			</td>
			<td width="60%" valign="middle">
				<input type="text" name="proxy_name" value="{ proxy_name }" size="30" maxsize="255" /> : 
				<input type="text" name="proxy_port" value="{ proxy_port }" size="6" maxsize="6" />
            </td>
          </tr>
          
          
           <tr>
            <td width="40%" align="right">
              	{ t_proxy_exeptions }
			</td>
			<td width="60%" valign="middle">
				<textarea name="proxy_exceptions" cols="60" rows="3">{ proxy_exceptions }</textarea>
            </td>
          </tr>


		  
	    <tr>
		<td colspan="2" align="center">
			<input type="submit" value="{ t_record }" />
		</td>
		</tr>
	</table>
	</td>
	</tr>
</table>
</form>
<!--#end rssoptions -->