<!--#begin home -->
<table class="rss_ui_main">
	<tr>
		<!--#if leftcol -->
		<td class="rss_ui_main_col1">
			<table width="100%" border="0" cellspacing="0" cellpadding="5">

			<!--#if subscriptions -->
				<tr class="BabSiteAdminFontBackground"> 
					<td class="{ subscriptions_classname }"><a href="{ suburl }">{ t_subscriptions }</a></td>
			    </tr>
			<!--#endif subscriptions -->


			<!--#in getnextfeed -->
				<!--#if category -->
				<tr class="BabSiteAdminTitleFontBackground"> 
					<td>{ category }</td>
				</tr>
				<!--#endif category -->
				<!--#if altbg -->
				<tr class="BabForumBackground1">
				<!--#else altbg -->
				<tr class="BabSiteAdminFontBackground">
				<!--#endif altbg -->
					<td <!--#if classname --> class="{ classname }" <!--#endif classname --> ><a href="{ url }">{ title }</a></td>
				<tr>
			<!--#endin getnextfeed -->
			</table>
		</td>
		<!--#endif leftcol -->

		<td class="rss_ui_main_col2">

			<!--#if invalidmessage -->
			<div class="notify">{ invalidmessage } <a href="{ updateurl }">{ t_update }</a></div>
			<!--#endif invalidmessage -->

			<!--#if description -->
			<h2>{ description }</h2>
			<!--#endif description -->

			<!--#in getnextpost -->
			<div class="post">
				<div class="pubDate">{ pubDate }</div>
				<h3><!--#if link --><a href="{ link }" target="_blank"><!--#endif link -->{ title }<!--#if link --></a><!--#endif link --></h3>
				

				{ description }

				
			</div>
			<!--#endin getnextpost -->
		</td>
	</tr>
</table>
<!--#end home -->
